@font-face {
  font-family: 'Bangers';
  src: url("../fonts/Bangers-Regular.ttf");
}
body {
  font-family: 'Bangers';
  background-color: #d18238;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%237c3309' fill-opacity='0.4' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
* {
  letter-spacing: 0.1rem;
  box-sizing: border-box;
  margin: 0;
}
.btn {
  cursor: pointer;
}
.btn-primary {
  background-color: #9e4918;
  color: #fdf4cc;
  border: 2px solid #9e4918;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: #d18238;
  color: #fdf4cc;
}
.img-cont {
  position: relative;
}
.img-cont img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.title {
  margin-top: 1rem;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}
main {
  display: flex;
  gap: 1rem;
}
main .table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 4px solid #7c3309;
  border-radius: 10px;
  background-color: #7c3309;
}
main .table .tile {
  user-select: none;
  flex-basis: 24%;
  padding-top: 3%;
  padding-bottom: 3%;
}
main .table .tile:not(.tile-16) {
  border-radius: 10px;
  background-color: #fdf4cc;
  border: 2px solid #7c3309;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #333;
}
main .table .tile:not(.tile-16):hover {
  background-color: #d18238;
  color: #fdf4cc;
}
main .game {
  padding-bottom: 2rem;
}
main .game .undo-redo {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
main .game .undo-redo * {
  width: 50px;
  height: 60px;
  cursor: pointer;
}
main .game .undo-redo *:hover {
  scale: 1.05;
}
main .game .table .tile {
  font-size: 2rem;
}
main .game .table .tile:not(.tile-16) {
  cursor: pointer;
}
main .game .table .tile-1 {
  order: 1;
}
main .game .table .tile-2 {
  order: 2;
}
main .game .table .tile-3 {
  order: 3;
}
main .game .table .tile-4 {
  order: 4;
}
main .game .table .tile-5 {
  order: 5;
}
main .game .table .tile-6 {
  order: 6;
}
main .game .table .tile-7 {
  order: 7;
}
main .game .table .tile-8 {
  order: 8;
}
main .game .table .tile-9 {
  order: 9;
}
main .game .table .tile-10 {
  order: 10;
}
main .game .table .tile-11 {
  order: 11;
}
main .game .table .tile-12 {
  order: 12;
}
main .game .table .tile-13 {
  order: 13;
}
main .game .table .tile-14 {
  order: 14;
}
main .game .table .tile-15 {
  order: 15;
}
main .game .table .tile-16 {
  order: 16;
}
main .game .actions {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
main .guide {
  margin-top: 2rem;
}
main .guide-title {
  font-size: 1.3rem;
}
main .guide .table {
  margin-top: 0.5rem;
}
main .guide .table .tile {
  font-size: 1.3rem;
  cursor: default;
}
main .stats {
  margin: 2rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.3rem;
}
